#menu {
  padding: 0 3rem;
  margin: 0.5rem;
}

.banner {
  background-image: url("./img/banner.jpeg");
  background-position: center;
  background-size: cover;
  padding: 20%;
  color: purple;
  height: 100vh;
}

.contact {
  background-image: url("./img/map.jpeg");
}

.our i {
}

.btn {
  padding: 8px 16px;
}
